[Unit]
Description=Airflow Scheduler
After=network.target

[Service]
ExecStart=%h/.local/bin/airflow scheduler
# simple is the default type
#Type=simple
KillMode=mixed

[Install]
WantedBy=default.target
