[Unit]
Description=Airflow Scheduler
After=network.target postgresql.service

[Service]
EnvironmentFile=%h/.airflow-env
ExecStart=%h/.local/bin/airflow scheduler -n 8
# simple is the default type
#Type=simple
KillMode=mixed
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
