[Unit]
Description=Shadowsocks Client Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/sslocal -c %h/.ss_config

[Install]
WantedBy=default.target

