*.swp

/*
/.ssh/*
/.ssh/control_socks/*
/.config/*
/opt/*
/opt/pkgbuilds/*/*

!/.gitignore

!/.bashrc
!/.bash_profile
!/.xinitrc
!/.screenrc

!/.ssh/
!/.ssh/config
!/.ssh/control_socks/
!/.ssh/control_socks/touch

!/.config/
!/.config/terminator/
!/.config/awesome/
!/.config/systemd/

!/opt/
!/opt/pkgbuilds/
!/opt/pkgbuilds/*/PKGBUILD
!/opt/pkgbuilds/*/*.INSTALL
