*.swp

/**/*
#/*
#/.ssh/*
#/.ssh/control_socks/*
#/.config/*
#/opt/*
#/opt/pkgbuilds/*/*

!/.gitignore

!/.bashrc
!/.bash_profile
!/.xinitrc
!/.screenrc
!/.npmrc
!/.sqliterc

!/.Renviron
!/.Rprofile

#!/.ssh/
!/.ssh/config
#!/.ssh/control_socks/
!/.ssh/control_socks/touch

!/.config/
!/.config/fcitx/
!/.config/fcitx/config
!/.config/fcitx/profile
!/.config/terminator/config
!/.config/systemd/user/**/*
!/.config/awesome/**/*

!/.weinre/server.properties

#!/opt/
#!/opt/pkgbuilds/
!/opt/pkgbuilds/*/PKGBUILD
!/opt/pkgbuilds/*/*.INSTALL

!/.ipython/profile_default/ipython_config.py

!/.goldendict/
!/.goldendict/config
