/*
/.ssh/*
/.ssh/control_socks/*
/.config/*
/opt/*

!/.gitignore

!/.bashrc
!/.xinitrc
!/.screenrc

!/.ssh/
!/.ssh/config
!/.ssh/control_socks/
!/.ssh/control_socks/touch

!/.config/
!/.config/terminator/
!/.config/awesome/

!/opt/
!/opt/pkgbuilds/**/PKGBUILD
