[Desktop Entry]
Type=Application
Exec=goldendict
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=GoldenDict
Name=GoldenDict
Comment[en_US]=Start GoldenDict
Comment=Start GoldenDict
